
# counterfit
cmd2==2.2.0
questionary==1.9.0
python-Levenshtein==0.12.2
rich>=10.10.0
orjson==3.6.4
flask==2.0.0

# docs
sphinx>=4.2.0
sphinx-rtd-theme>=1.0.0

# frameworks
adversarial-robustness-toolbox==1.8
textattack==0.3.4
torchvision==0.11.1
tensorflow==2.7.2
tensorflow-hub==0.12.0 # to run textbugger, bae_garg and textfooler attacks
torchfile==0.1.0 # to run fga_jia_2019 attack
tensorflow-text==2.6.0 # dependency on textattack 
bs4==0.0.1
traitlets==5.0.5  # required for Windows
pytorch_lightning==1.5.9
h5py==3.1.0
lightgbm==3.3.1
augly==0.1.10
hyperopt==0.2.3
scipy==1.4.1

# testing framework
pytest==6.2.5

