# targets
onnxruntime==1.10.0

# counterfit
cmd2==2.2.0
python-Levenshtein==0.12.2
rich>=10.10.0
orjson==3.6.4
flask==2.0.0
optuna
numpy>=1.18.5
requests==2.24.0
scipy==1.9.2
h5py==3.1.0
lightgbm==3.3.1
pillow
pyyaml

# frameworks
torchvision==0.11.1
torchfile==0.1.0 # to run fga_jia_2019 attack
bs4==0.0.1
traitlets==5.3.0  # required for Windows
pytorch_lightning==1.6.0
h5py==3.1.0
lightgbm==3.3.1
hyperopt==0.2.3


# testing framework
pytest==6.2.5

